Source: keepassxc
Section: utils
Priority: optional
Maintainer: KeePassXC Team <team@keepassxc.org>
Build-Depends: asciidoctor,
               cmake,
               debhelper (>= 9),
               libargon2-0-dev,
               libbotan-2-dev (>=2.12.1),
               libusb-1.0-0-dev,
               libminizip-dev,
               libpcsclite-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libqt5x11extras5-dev,
               libqrencode-dev,
               libquazip5-dev,
               libreadline-dev,
               libsodium-dev,
               libxi-dev,
               libxtst-dev,
               libykpers-1-dev,
               libyubikey-dev,
               libzxcvbn-dev,
               qtbase5-dev,
               qtbase5-private-dev,
               qttools5-dev,
               qttools5-dev-tools,
               xauth,
               xvfb,
               zlib1g-dev
Standards-Version: 3.9.8
Homepage: https://keepassxc.org/
Vcs-Git: https://github.com/keepassxreboot/keepassxc.git
Vcs-Browser: https://github.com/keepassxreboot/keepassxc

Package: keepassxc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: keepassxc-beta (<< 2.5.0)
Conflicts: keepassxc-beta (<< 2.5.0)
Description: KeePass Cross-Platform Community Edition
 KeePassXC is a community fork of KeePassX, a native
 cross-platform port of KeePass Password Safe, with
 the goal to extend and improve it with new features
 and bugfixes to provide a feature-rich, fully
 cross-platform and modern open-source password manager.
