Source: libgcrypt20-17
Section: libs
Priority: optional
Maintainer: KeePassXC Team <team@keepassxc.org>
XSBC-Original-Maintainer: Debian GnuTLS Maintainers <pkg-gnutls-maint@lists.alioth.debian.org>
Uploaders: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>, Andreas Metzler <ametzler@debian.org>,
 Eric Dorland <eric@debian.org>, James Westby <jw+debian@jameswestby.net>,
 Simon Josefsson <simon@josefsson.org>
Build-Depends: debhelper (>= 9.20131227),
 libgpg-error-dev (>= 1.11), dh-autoreconf, automake (>= 1:1.12)
Build-Depends-Indep: texlive-latex-base, texlive-generic-recommended,
 texinfo (>= 4.6-0)
Standards-Version: 4.0.0
Vcs-Git: https://anonscm.debian.org/git/pkg-gnutls/libgcrypt.git -b branch1.6
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-gnutls/libgcrypt.git/?h=branch1.6
Homepage: http://directory.fsf.org/project/libgcrypt/

Package: libgcrypt20-17-doc
Section: doc
Architecture: all
Suggests: libgcrypt20-17-dev
Depends: ${misc:Depends}
Description: LGPL Crypto library - documentation
 libgcrypt contains cryptographic functions.  Many important free
 ciphers, hash algorithms and public key signing algorithms have been
 implemented:
 .
 Arcfour, Blowfish, CAST5, DES, AES, Twofish, Serpent, rfc2268 (rc2), SEED,
 Poly1305, Camellia, ChaCha20, IDEA, Salsa, CRC, MD2, MD4, MD5, RIPE-MD160,
 SHA-1, SHA-256, SHA-512, SHA3-224, SHA3-256, SHA3-384, SHA3-512, SHAKE128,
 SHAKE256 Tiger, Whirlpool, DSA, DSA2, ElGamal, RSA, ECC (Curve25519,
 sec256k1, GOST R 34.10-2001 and GOST R 34.10-2012, etc.)
 .
 This package contains developer documentation.

Package: libgcrypt20-17-dev
Section: libdevel
Architecture: any
Depends: libgcrypt20-17 (= ${binary:Version}), libc6-dev | libc-dev,
 libgpg-error-dev, ${misc:Depends}
Suggests: libgcrypt20-17-doc
Description: LGPL Crypto library - development files
 libgcrypt contains cryptographic functions.  Many important free
 ciphers, hash algorithms and public key signing algorithms have been
 implemented:
 .
 Arcfour, Blowfish, CAST5, DES, AES, Twofish, Serpent, rfc2268 (rc2), SEED,
 Poly1305, Camellia, ChaCha20, IDEA, Salsa, CRC, MD2, MD4, MD5, RIPE-MD160,
 SHA-1, SHA-256, SHA-512, SHA3-224, SHA3-256, SHA3-384, SHA3-512, SHAKE128,
 SHAKE256 Tiger, Whirlpool, DSA, DSA2, ElGamal, RSA, ECC (Curve25519,
 sec256k1, GOST R 34.10-2001 and GOST R 34.10-2012, etc.)
 .
 This package contains header files and libraries for static linking.

Package: libgcrypt20-17
Priority: standard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: rng-tools
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: LGPL Crypto library - runtime library
 libgcrypt contains cryptographic functions.  Many important free
 ciphers, hash algorithms and public key signing algorithms have been
 implemented:
 .
 Arcfour, Blowfish, CAST5, DES, AES, Twofish, Serpent, rfc2268 (rc2), SEED,
 Poly1305, Camellia, ChaCha20, IDEA, Salsa, CRC, MD2, MD4, MD5, RIPE-MD160,
 SHA-1, SHA-256, SHA-512, SHA3-224, SHA3-256, SHA3-384, SHA3-512, SHAKE128,
 SHAKE256 Tiger, Whirlpool, DSA, DSA2, ElGamal, RSA, ECC (Curve25519,
 sec256k1, GOST R 34.10-2001 and GOST R 34.10-2012, etc.)

Package: libgcrypt20-17-udeb
Section: debian-installer
Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LGPL Crypto library - runtime library
 libgcrypt contains cryptographic functions.  Many important free
 ciphers, hash algorithms and public key signing algorithms have been
 implemented:
 .
 Arcfour, Blowfish, CAST5, DES, AES, Twofish, Serpent, rfc2268 (rc2), SEED,
 Poly1305, Camellia, ChaCha20, IDEA, Salsa, CRC, MD2, MD4, MD5, RIPE-MD160,
 SHA-1, SHA-256, SHA-512, SHA3-224, SHA3-256, SHA3-384, SHA3-512, SHAKE128,
 SHAKE256 Tiger, Whirlpool, DSA, DSA2, ElGamal, RSA, ECC (Curve25519,
 sec256k1, GOST R 34.10-2001 and GOST R 34.10-2012, etc.)
