#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
#include /usr/share/dpkg/architecture.mk
#include /usr/share/dpkg/buildflags.mk
#include /usr/share/dpkg/default.mk

export SOVER=0
export SONAME=libargon2.so.$(SOVER)
export SOPKG=libargon2-$(SOVER)
export OPTTARGET=$(DEB_TARGET_GNU_CPU)

%:
	dh $@

override_dh_install:
	sed -i s/@HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g debian/libargon2-0.install
	sed -i s/@HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g debian/libargon2-0-dev.install
	sed -i s/@HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g debian/libargon2-0-dev.links
	mv debian/tmp/usr/lib/libargon2.so debian/tmp/usr/lib/libargon2.so.0
	dh_install

override_dh_auto_test:
	-$(MAKE) -j1 test
