Source: botan-kpxc
Section: libs
Priority: optional
Maintainer: KeePassXC Team <team@keepassxc.org>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 libtspi-dev,
 zlib1g-dev,
 python-all-dev
Standards-Version: 4.4.1
Homepage: https://botan.randombit.net/

Package: libbotan-kpxc-2-12
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: multiplatform crypto library (2.x version)
 Botan is a C++ library which provides support for many common cryptographic
 operations, including encryption, authentication, and X.509v3 certificates and
 CRLs. A wide variety of algorithms is supported, including RSA, DSA, DES, AES,
 MD5, and SHA-1.
 .
 This package contains the 2.x version of Botan.

Package: libbotan-kpxc-2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libbotan-kpxc-2-12 (= ${binary:Version})
Description: multiplatform crypto library (2.x version)
 Botan is a C++ library which provides support for many common cryptographic
 operations, including encryption, authentication, and X.509v3 certificates and
 CRLs. A wide variety of algorithms is supported, including RSA, DSA, DES, AES,
 MD5, and SHA-1.
 .
 This package contains the 2.x version of Botan.
