Source: keepassxc
Section: utils
Priority: optional
Maintainer: KeePassXC Team <team@keepassxc.org>
Build-Depends: debhelper (>= 9),
               cmake (>= 3.1),
               libgcrypt20-18-dev (>= 1.8),
               qtbase5-dev (>= 5.2),
               qttools5-dev (>= 5.2),
               qttools5-dev-tools (>= 5.2),
               libqt5x11extras5-dev,
               zlib1g-dev,
               libargon2-0-dev,
               libsodium-dev (>= 1.0.16),
               libxi-dev,
               libxtst-dev,
               libyubikey-dev (>= 1.13),
               libykpers-1-dev (>= 1.17.0)
Standards-Version: 3.9.8
Homepage: https://keepassxc.org/
Vcs-Git: https://github.com/keepassxreboot/keepassxc.git
Vcs-Browser: https://github.com/keepassxreboot/keepassxc

Package: keepassxc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: keepassxc-beta (<< 2.4.0)
Conflicts: keepassxc-beta (<< 2.4.0)
Description: KeePass Cross-Platform Community Edition
 KeePassXC is a community fork of KeePassX, a native
 cross-platform port of KeePass Password Safe, with
 the goal to extend and improve it with new features
 and bugfixes to provide a feature-rich, fully
 cross-platform and modern open-source password manager.
